* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.flexbox-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.bronze {
  background-color: lightblue;
}
.silver {
  background-color: green;
}
.gold {
  background-color: orange;
}
.card {
  width: 250px;
}
.level,
.price {
  color: #fff;
}
.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  text-align: center;
}
.level,
.price,
.description,
.card-list {
  margin-bottom: 10px;
}
